body{
    background: url(../img/cityscape.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Helvetica;
    color: #fff;
    margin: 10px;
}

.header{
    margin: auto;
    width: 1000px;
    height: 100px;
}

.container1{
    margin: auto;
    width: 1000px;
}

.container1 .navbar{
    width: 1000px;
}

.navbar ul{
    padding: 0px;
    margin: 0px;
    background: #EAEAEA;
    border-bottom: 1px solid grey;
}
.navbar ul li{
    width: 16.2%;
    padding: 10px 0px;
    text-align: center;
    display: inline-block;
    zoom: 1;
    *display: inline;
    cursor: pointer;
    cursor: hand;
}
.navbar ul li a{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: rgba(40, 43, 46, 0.8);
}

.navbar ul li:hover{
    background: #D3D3D3;
}

.navbar ul li.active{
    background: #FFF;
    margin-top: -10px;
    margin-bottom: -2px;
    border: 2px solid grey;
    border-bottom: 2px solid #FFF;
}

.container1_main, .logo{
    border: 5px;
    float: left;
    width: 70%;
}

.container1_aside, .search-top{
    float: right;
    width: 30%;
}

.container1_main, .container1_aside{
    padding-top: 10px;
    background: white;
}

div#slideshow{
    width: 666px; /*cannot write media queries here no support for IE8*/
    height: 330px;
    margin: 10px 20px;
}

div#sliderCaption{
    margin: 0px 20px 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 666px; /*cannot write media queries here no support for IE8*/
}

#sliderCaption span{
    margin-right: 6px;
}

#sliderCaption span:last-child {
    margin-right: 0px;
}

#sliderCaption span img{
    max-height: 79px;
    max-width: 159px;
}

#sliderCaption .actThumb img{
    width: 151px;
    height: 71px;
}

#slideshow span img{
    height: 330px;
}

span.slider{
    position: absolute;
    overflow: hidden;
    width: 660px;
    display: none;
}

span.slider p{
    width: 644px;
    margin: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background: url(../img/snb.png);
    font-family: Helvetica;
    color: #282b2e;
    font-size: 24px;
    font-weight: 700;
}

span.slider p a{
    color: #282b2e;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
}

span.active{
    display: block;
    min-height: 20px;
    overflow: hidden;
}

.actThumb .thumb{
    margin-top: 10px;
    border: 4px groove #1990DD;
}
.actThumb::before{
    content: "";
    position: absolute;
    margin-left: 79px;
    display: inline-block;
    height: 20px;
    background: url(../img/arrow.png) no-repeat;
    width: 12px;
}

.search{
    width: 274px;
    position:relative;  
    padding:6px;
    background: white url(../img/search.png) right no-repeat;
}
.search-top a{
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding-left: 0.8em;
}

.container1_aside .ads{
    margin: 0px
}

.container1_aside .ads img{
    margin: 10px 0px;
}

hr{
    width: 960px;
    margin: auto;
}

.tweet{
    width: 274px;
}