html, body{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../img/cityscape.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica;
    color: #fff;
    font-size: 14px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='..img/cityscape.png',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='..img/cityscape.png',sizingMethod='scale')";
}

.header{
    margin: auto;
    width: 1000px;
    height: 100px;
}

.container1{
    margin: auto;
    width: 1000px;
    background-color: #fff;
}

.container1 .navbar{
    width: 1000px;
}

.navbar ul{
    padding: 0px;
    margin: 0px;
    background: #EAEAEA;
    border-bottom: 1px solid grey;
}
.navbar ul li{
    width: 16.2%;
    padding: 10px 0px;
    text-align: center;
    display: inline-block;
    zoom: 1;
    *display: inline;
    cursor: pointer;
    cursor: hand;
}
.navbar ul li a{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: rgba(40, 43, 46, 0.8);
}

.navbar ul li:hover{
    background: #D3D3D3;
}

.navbar ul li.active{
    background: #FFF;
    margin-top: -10px;
    margin-bottom: -2px;
    border: 2px solid grey;
    border-bottom: 2px solid #FFF;
}

.container1_main, .logo{
    border: 5px;
    float: left;
    width: 70%;
}

.container1_aside, .search-top{
    float: right;
    width: 30%;
}

.container1_main, .container1_aside{
    padding-top: 10px;
    background: white;
}

div#slideshow{
    width: 666px; /*cannot write media queries here no support for IE8*/
    height: 330px;
    margin: 10px 20px;
}

div#sliderCaption{
    margin: 0px 20px 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 666px; /*cannot write media queries here no support for IE8*/
}

#sliderCaption span{
    margin-right: 6px;
}

#sliderCaption span:first-child+span+span+span {
    margin-right: 0px;
}

#sliderCaption span img{
    max-height: 79px;
    max-width: 159px;
}

#sliderCaption .actThumb img{
    width: 151px;
    height: 71px;
}

#slideshow div img{
    height: 330px;
}

div.slider{
    position: relative;
    bottom: 0;
    width: 660px;
    display: none;
}

div.slider p{
    width: 644px;
    margin: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    bottom: 2px;
    background: url(../img/snb.png);
    font-family: Helvetica;
    color: #282b2e;
    font-size: 24px;
    font-weight: 700;
}

.slider p a{
    color: #282b2e;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
}

div.active{
    display: block;
    min-height: 20px;
    overflow: hidden;
}

.actThumb .thumb{
    margin-top: 10px;
    border: 4px solid #1990DD;
}
.actThumb::before{
    content: "";
    position: absolute;
    margin-left: 79px;
    display: inline-block;
    height: 20px;
    background: url(../img/arrow.png) no-repeat;
    width: 12px;
}

.search{
    width: 274px;
    position:relative;  
    padding:6px;
    background: white url(../img/search.png) right no-repeat;
}
.search-top a{
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding-left: 0.8em;
}
.container1_aside .ads{
    margin: 0px
}
.container1_aside .ads img{
    margin: 12px 0px;
}
.container1_main .categories{
    margin-top: 20px;
    width: 25%;
    float:left;
}
.container1_main .articles{
    color: black;
    margin: 20px;
    padding: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 65%;
}
.categories{
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-left:20px;
    margin-bottom: 20px;
}
.categories_header{
    color: #FFF;
    padding: 7px;
    margin-left: -34px;
    line-height: 24px;
    background: #1990DD url(../img/folder.png) left no-repeat;  
    background-position: 4px;    
}
.categories_header:after{
    content: '';
    height: 6px;
    width: 15px;
    background: #1B6EA4;
    position: relative;
    bottom: -30px;
    left: -7px;
    float: left;  
    background-position: 0 -12px;
}
.categories_name{
    color: #282b2e;
    line-height: 30px;
    font-weight: 700;
    position:relative;  
    background: url(../img/downarrow.png) right no-repeat;
}
.categories ul{
    margin: 0;
    padding: 0;
}
.categories ul li {
    list-style-type: none;
    line-height: 21px;
}
.categories ul li a{
    color: #282b2e;
    font-weight: 400;
    text-decoration: none;
}
.categories ul li a:hover{
    color: #1990DD;
}
.articles_header{
    color: #FFF;
    padding: 7px;
    line-height: 24px;
    position:relative;  
    background: #1990DD url(../img/articles.png) left no-repeat;  
    background-position: 5px; 
}

.articles{
    overflow: auto;
}
.articles ul{
    padding: 0px;
    margin: 0;
}
.articles ul li{
    display: block;
    list-style-type: none;
    clear: both;
}
.articles ul li img{
    width: 33%;
    float: left;
    margin-top:10px;
    margin-bottom: 10px;
}
.article_img{
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.articles ul li p{
    width: 65%;
    float: right;
    zoom: 1;
    *display: inline;
    margin-top: 8px;
    margin-bottom: 5px;
}
.articles ul li p strong{
    line-height: 20px;
}
.subscription, .contests{
    background-color: #EAEAEA;
    color: #282b2e;
    margin: 20px 20px 0px 0px;
    line-height: 24px;
    font-size: 12px;
}
.subscription{
    height: 38%;
}

form{
    padding: 10px;
}
.formName{
    color: #555;
    font-weight: 700;
    padding: 0px 10px 0px 7px;
    color: #282b2e;
    position:relative;  
    background: #EAEAEA url(../img/envelope.png) left no-repeat;  
    border-bottom: 1px solid #333;
}

form .email{
    margin-top: 10px;
    width: 95%;
    border: 1px solid #AFAFAF;
    padding: 5px;
    float: left;
    margin-bottom: 5px;
}

form input[type='checkbox']{
    margin-top: 5px;
    width: auto;
}

label{
    font-weight: 700;
}
.formContent{
    padding:20px 0px 0px;
    margin: 20px 0px 0px;
}

.formLinks{
    clear: both;
    text-align: center;
}

.formLinks a{
    color: #282b2e;
    text-decoration: none;
}

.formContent>*, .formLinks>*{
    background-color: #D4D4D4;
    padding: 8px;
}
form input[type='button']{
    float: right;
    color: white;
    width: auto;
    padding: 5px;
    margin: 5px;
    background-color: #1990DD;
}
.tweet{
    background: #FFF;
    margin: 22px 10px 44px 0px;
}
.contestName{
    color: #555;
    font-weight: 700;
    padding: 2px 10px 0px 7px;
    color: #282b2e;
    position:relative;  
    background: #EAEAEA url(../img/contest.png) left no-repeat;  
    border-bottom: 1px solid #333;
}

.contests{
    margin-bottom: 20px;
    padding-left: 10px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.contests ul{
    margin: 10px 0px 0px;
    padding: 0px;
}

.contests ul li{
    background-color: #EAEAEA;
    padding-right: 5px;
    display: inline-block;
    zoom:1;
    *display: inline;
    clear: both;
    list-style-type: none;
}
.contests ul li img{
    float: left;
    width: 33%;
    zoom: 1;
    *display: inline;
}
.contests ul li p{
    line-height: 120%;
    font-weight: 700;
    width: 65%;
    float: right;
    zoom: 1;
    *display: inline;
}

.videos{
    background-color: #FFF;
    margin: 20px 0px 20px 20px;
}
.videos_header{
    color: #FFF;
    padding: 7px;
    margin-left: -35px;
    margin-right: 20px;
    line-height: 24px;
    float: left;
    width: 100%;
    background: #1990DD url(../img/video.png) left no-repeat;  
    background-position: 4px;    
}
.videos_header:after{
    content: '';
    height: 6px;
    width: 15px;
    background: #1B6EA4;
    position: relative;
    bottom: -30px;
    left: -7px;
    float: left;  
    background-position: 0 -12px;
}
.videos ul {
    margin: 0;
    padding: 0;
}
.videos ul li{
    clear: both;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}
.videos ul li{
    position: relative;
}

.videos ul li a{
    text-decoration: none;
}

.videos ul li .play{
    position: absolute;
    left: 40%;
    top: 40%;
}
.videos ul li .videoText{
    position: absolute;
    padding: 7px;
    width: 94%;
    bottom: 4px;
    left: 0;
    font-weight: 700;
    font-size: 12px;
    color: #282b2e;
    background: url(../img/videoText.png);
}
.navbar-btm{
    font-size: 12px;
    clear: both;
    background-color: black;
    height: 66px;
}

.navbar-btm .navLinks{
    color: #969696;
    float: left;
    margin: 15px;
}
.navbar-btm ul{
    margin: 5px 0px;
    padding: 0;
}
.navbar-btm ul li{ 
    margin-right: 10px;
    list-style-type: none;
    display: inline-block;
    zoom:1;
    *display: inline;
}
.navLinks ul li a{
    color: #Fff;
    text-decoration: none;
}
.icons{
    margin: 10px;
    float: right;
}
