div#slideshow{
    width: 800px; /*cannot write media queries here no support for IE8*/
    position: absolute;
}

img.slider{
    position: absolute;
    width: 100%;
}

img#img1, img#img2, img#img3, img#img4{
    height: 400px;
    width: 800px;
}
img#img1{
    z-index: -1;
}

img#img2{
    z-index: -2;
}

img#img3{
    z-index: -3;
}

img#img4{
    z-index: -4;
}

.tweet{
float: right;    ;
}